flask
redis
babel
Flask-Negotiate
flask-autodoc
git+git://github.com/leifj/flask-oauthlib.git#egg=flask-oauthlib
flask-gravatar
pillow
gunicorn
pyrss2gen
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
