{% extends "base.html" %}
{% block content %}
<pre style="font-size: smaller">
                                         -
                                        -dho/.
                                        ydddddy:
                                       smmddddddo`
                                      /dmdddddddd+
                                    `/hhdhyso+/::::::/-.::://-------.``
 `o/`                              `-::-.````.-:/+oosys-+ossyyyddddddmmdhhyso+:/+/:-`
  +dds/`                         `    ```-//++oshhhhhdhsyhhdddmNmmNmNNNNNNNNmmmmmmmmmdys+-`
  `hmmmdy/.                 `` .-::.`://ossssshdddddddmmdmdmdmNmNNNNNNNNNNmmmmmmm3mmNNNNNNmhy+`
   /dmmmmmdy/`        ``-//ossosyyys/syyhdddmmmmmmmddmNmmmhmhhyhmmNNNNNNmNmNNNmmm33dmmNNNNNmNNN/
   `sdmmmmmmmd+` `ssoo+yddddhysssssyyyyyhhddmmmmmmdmmNNNmNddhhhhhhhddmmdhddddhhdNNNNNNNNNNmho/`
     ommmmmmmmmh``-oddmmNNNNNNmmddddmmmmNNNNNNNpajjhajNNNNNmmmmmmdddddddddddhyso/oydNNy+-`
      yNNNNmmdyyydmmmmmmmmmmmmmmmmmmmmmmNNNNNNNNNNNNNNNNNNNNNNNNNNNNmmmmmmmmmmmmdmmds.
      smNNNNmmmmmmmmmmmmmmmmNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNmmmdys/.
      hmNNNNNNmd:-yho:///+yNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNmdhhhyso/-`
     :mNNNNNNNy.           `/dNh.-/+osyyyyyyyyso/:oymNNNMMMMNNNy
     yNNNNNNd-                `                      :NNMMMMMNN.
   `yNNNNNd:                                          :NMNMMNm-
  -dNNNdo-                                             /NMMMh.
`smhs:`                                                 +do.
`:`
</pre>
<pre>
                    [internal error, teh pain]
</pre>
{% endblock %}