{% extends "base.html" %}
{% block content %}
<h1 class="page-header">Add Dataset</h1>

<div id="dataset-upload" class="alert alert-info alert-dismissable message">
  <button type="button" class="close closer" data-dismiss="alert" aria-hidden="true">&times;</button>
  Add a dataset by uploading a bittorrent metadata file (aka torrent file) below. The tracker URL will be replaced
    so you have to download the torrent metadata file to start seeding data!
  <div class="buttons">
    <button type="button" data-dismiss="alert" class="btn btn-info closer">OK got it!</button>
  </div>
</div>

<div id="torrent_zone" class="jumbotron">
    <form id="torrent_form" role="form" class="dropzone dz-clickable" method="POST" action="/dataset">
        <div class="fallback">
            <input name="file" type="torrent" />
        </div>
        <div class="dz-message dz-default">
            <span class="glyphicon glyphicon-large glyphicon-upload"></span>
            <h2>Drop torrent-file here</h2>
            <span class="text-xs">(or click)</span>
        </div>
    </form>
</div>

{% endblock %}
{% block js %}
Dropzone.autoDiscover = false;
$(function() {

    {% if torrent_error %}
    $('#torrent').addClass('has-error');
    {% endif %}

    $("#torrent_form").dropzone({
        paramName: "torrent",
        uploadMultiple: false,
        acceptedFiles: "application/x-bittorrent",
        previewTemplate: '<div class="dz-preview dz-file-preview">'+
          '<div class="dz-error-message"><p class="help-block has-error"><span data-dz-errormessage></span></p></div>' +
        '</div>',
        sending: function(file, xhr, formData) {
            formData.append("_csrf_token", "{{ csrf_token() }}");
        },
        success: function(file, response) {
            //console.log(response);
            document.location.href="/dataset/"+response['info_hash'];
        }
    });
});
{% endblock %}